# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/.idea.CodeLab1-Midterm.iml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../:\NYU\研一冬季\Code Lab 1\yw2197-HW-Midtern\CodeLab1-Midterm\.idea\.idea.CodeLab1-Midterm\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
